[submodule "LuaEngine/dependencies/lua_jit"]
	path = LuaEngine/dependencies/lua_jit
	url = https://luajit.org/git/luajit.git
[submodule "Profile/dependencies/NVTX"]
	path = Profile/dependencies/NVTX
	url = https://github.com/NVIDIA/NVTX.git
