/StaticPolyMorphism
/TaskSystem/Profile_Result.json
/MemoryManagement/.vs
/MemoryManagement/out/build
/MemoryManagement/CMakeSettings.json
/MemoryManagement/Profile_Result.json
/.vs
/out/build/x64-Debug
/ThreadManager/.vs
/ThreadManager/out/build
/ThreadManager/CMakeSettings.json
/FileManager/.vs
/FileManager/out
/out